<!DOCTYPE html>
<html>
<head>
<style type="text/css">
table, td, th{
margin-top: 20px;
background-color:#a9c6c9;
text-align: center;
font-family:Timesnewroman;
}
</style>
</head>
<body>
<table border="5" width=60%>
<caption><strong> NYROS TECHNOLOGIES</strong> </caption>
<tr>
<th style="background-color:#ADD985"  colspan="4" ><h3> Nyros Technologies </h3>
</th>
</tr>
<th style="background-color:AntiqueWhite" colspan="2" > About </th>
<th style="background-color:#FFCCCC"> Ecosystem </th>
<th style="background-color:violet"> Contact us </th>
<tr>
<td colspan="2" style="background-color:#ccccff"><p>Nyros builds simple,  <br>powerful web & <br> Mobile applications  <br> for every one from <br> start-ups we love to<br>Multinational companies  <br>we are in ISO 9001:2008<br> Certified company.  <br><p> </td>
<td style="background-color:skyblue">We love our homeland<br> and the aroma of sand.<br> We play our role for the <br>future Earth and our children.<br> we believe plastic <br> makes earth heavier!<br> recommend JUTE<br></td>
<td style="background-color:pink"><address>
OFFICE:<br>
<br>
<br>
SKS Township, Plot No. 4,Phase II,<br>
Ganganapalli, Kakinada,<br>
A.P , India - 533006<br>
PHONE: +91 884 645 0884<br>
</address>
</td>
<tr>
<th colspan="2"><h4> Nyros Github </h3></th>
<th colspan="2" style="background-color:#ff9933"><h5> Visit for more:</h5>
www.nyros.com</th></tr>
</body>
</table>
<br>
<br>
<br><br>
<table border="4" width=60%>
<caption><strong> Examinations</strong> </caption>
<tr>
<th style="background-color:#FFCCCC"  colspan="5" ><h3> Student Marks</h3>
</th>
</tr>
<th style="background-color:#33CCCC" > S.NO. </th>
<th style="background-color:#33CCCC"> Question </th>
<th style="background-color:#33CCCC"> Answer </th>
<th style="background-color:#33CCCC"> Marks per Answer </th>
<th style="background-color:#33CCCC"> Total Marks</th>
<tr>
<td rowspan="3"> 1.</td>
<td rowspan="3">Name Three features of OOPS </td>
<td> A </td>
<td>Inheritance</td>
<td style="background-color:#66FF66" rowspan="3">10</td>
</tr>
<tr>
<td>B</td>
<td>Polymorphism</td>
</tr>
<tr>
<td>C</td>
<td>Encapsulation</td>
</tr>
<tr>
<td>2.</td>
<td>An American was the 1st man in space. </td>
<td> T/F </td>
<td> False</td>
<td style="background-color:#66FF66"> 5 </td>
</tr>
<tr>
<td>3.</td>
<td>What is HTML??</td>
<td>Short Answer</td>
<td >HTML is a markup language for describing web pages.</td>
<td style="background-color:#66FF66">10</td>
<tr>
<td colspan="4" style="background-color:#FFCCCC"> Result </td>
<td style="background-color:#FFFF66">25</td>
</table>
<br>
<br>
<br>
<br>
<table border="4" width=60%>
<caption><strong> Holidays List </strong> </caption>
<tr>
<th style="background-color:#00FFFF"  colspan="5" ><h3> Happy New year </h3>
</th>
</tr>
<tr>
<th rowspan="2" style="background-color:violet" ><p> 15th Sankranthi<br>
Feb no holidays <br> 21st Ugadhi<br> 3rd Good Friday <br> 1st May day <br> June No holidays </th><p>
<th style="background-color:#FFFFFF"> 26th January Republic day </th>
<th rowspan="2" style="background-color:violet"> <p> 19th Ramzan<br>
17th Ganesh Chaturthi<br> 2nd Gandhi Jayanthi <br>
22nd Dussera<br> 11th Diwali <br> 25th Christmas<br> </th></tr>
<tr><th style="background-color:#FFFFFF"> 15th August Independence Day </th></tr>
<tr>
<th style="background-color:#00FFFF"  colspan="5" ><h3> Good bye 2015 </h3>
</th>
</tr>
</table>
</body> 
</body>
</html>
